.covid__h {
  color: #1078AD;
  line-height: 40px;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
  font-size: 35px; }

.covid__sec {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .covid__sec--p {
    text-align: center;
    font-weight: bolder;
    color: #1A519E;
    font-size: 20px;
    margin: auto; }
  .covid__sec--1 {
    margin: auto;
    grid-column: 1; }
  .covid__sec--2 {
    grid-column: 2;
    margin: auto; }
