* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Cairo', sans-serif;
  font-size: 16x; }

.navbar {
  width: 100%; }
  .navbar__top {
    background-image: url(/img/bag2.svg), url(/img/bag.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; }
    .navbar__top--logo {
      margin: 0.5% auto auto 2%; }
  .navbar ul {
    width: 10%;
    display: inline-flex;
    list-style: none;
    float: right;
    margin-right: 16%;
    margin-top: 2%;
    margin-bottom: auto; }
    .navbar ul li {
      margin-right: 30%; }
      .navbar ul li a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 20px;
        line-height: 50px; }
        .navbar ul li a img {
          height: 45px; }
      .navbar ul li a:hover {
        color: #1a519e; }
      .navbar ul li #accueil {
        color: #1a519e;
        font-weight: bold; }
  .navbar__bottom {
    background: #f4cf1b;
    padding: 10px; }
    .navbar__bottom--h {
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      padding-top: 5px; }
    .navbar__bottom--p {
      color: #1078ad;
      text-align: center;
      font-weight: bold;
      line-height: 20px; }
