@charset "UTF-8";
.préambule {
  width: 70%;
  text-align: center;
  margin: 50px auto;
  background-color: #e9ecef;
  padding: 50px 33px;
  border-radius: 5px; }
  .préambule__butpr {
    width: 250px;
    font-size: 25px;
    margin: auto 630px; }
  .préambule__p {
    font-size: 17px;
    margin: 20px auto;
    width: 85%; }
  .préambule__p2 {
    width: 70%;
    margin: 20px auto; }
  .préambule__h {
    color: #1078AD;
    font-size: 25px; }
  .préambule hr {
    width: 50%;
    margin: auto;
    border: 1px solid #F4CF1B; }
