.herofooter {
    background-color: #96c5dc;
    // margin-top: -10px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;

        &__h {
            padding-top: 20px;
            color: #1078AD;
            text-align: center;
            font-size: 35px;
}
        &__emoji {
            padding-top: 20px;
            padding-bottom: 20px;
            display: block;
            margin-left: auto;
            margin-right: auto;
  }

        &__butt{
            margin: auto;
        }
}