* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Cairo', sans-serif;
	font-size: 16x;
}

.navbar {
	width: 100%;

	&__top {
		background-image: url(/img/bag2.svg), url(/img/bag.svg);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;

		&--logo {
			margin-top: 20px;
			margin-left: 50px;
			margin-bottom: 20px;
		}
	}

	ul {
		width: 10%;
		display: inline-flex;
		list-style: none;
		float: right;
		margin-right: 16%;
		margin-top: 2%;
		margin-bottom: auto;

		& li {
			margin-right: 30%;

			& a {
				text-decoration: none;
				color: black;
				font-weight: bold;
				font-size: 20px;
				line-height: 50px;

				img {
					height: 45px;
				}
			}

			a:hover {
				color: #1a519e;
			}

			#accueil {
				color: #1a519e;
				font-weight: bold;
			}
		}
	}

	&__bottom {
		background: #f4cf1b;
		padding: 10px;

		&--h {
			text-align: center;
			text-transform: uppercase;
			font-weight: bold;
			padding-top: 5px;
		}

		&--p {
			color: #1078ad;
			text-align: center;
			font-weight: bold;
			line-height: 20px;
		}
	}
}
